.message-input {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 70rem; /* Set the width of the message input */
  margin: 20px auto; /* Center the message input horizontally */
}


.message-input textarea {
  width: 100%; /* Occupy full width of the container */
  max-width: 100%; /* Set maximum width to prevent overflow */
  resize: none; /* Disable resizing */
  padding: 10px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Add border for visual distinction */
  border-radius: 5px; /* Add rounded corners */
  box-sizing: border-box; /* Include padding and border in width calculation */
}


.message-input button {
  margin-left: 10px; /* Add space between textarea and button */
  padding: 10px 20px; /* Add padding to button */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add rounded corners */
  background-color: #007bff; /* Set button background color */
  color: #fff; /* Set button text color */
  cursor: pointer; /* Change cursor to pointer on hover */
}