.admin-chat-area{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.admin-chat-header{
  background-color: #3498db;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

.admin-messages{
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.admin-message{
  margin-bottom: 15px;
}

.sent{
  display: flex;
  justify-content: flex-end;
}

.recieved{
  display: flex;
  justify-content: flex-start;
}

.message-bubble{
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
}

.sent .admin-message-bubble{
  background-color: #3498db;
  color: #ffffff;
  border-bottom-right-radius: 0;
}

.recieved .admin-message-bubble{
  background-color: #d1d1d1;
  border-bottom-left-radius: 0;
}